<p id="notice"><%= notice %></p>


<p>
  <%= image_tag(@resource.picture, :size => "150x150") %>
</p>

<p>
  <b>Name:</b>
  <%= @resource.name %>
</p>

<p>
  <b>Url:</b>
  <%= @resource.url %>
</p>

<p>
  <b>Category:</b>
  <% @resource.categories.each do |category| %>
    <%= category.name %>
    <% end %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
